# The Tech Lead owns the SCM Plan itself
README.md       leonkirumba20-star

# The Database Team owns all SQL files
*.sql           leonkirumba20-star

# The Frontend Team owns all Javascript
*.js            leonkirumba20-star
